
<table class="table table-secondary" style="margin-top: 50px">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NAME</th>
    <th scope="col">COUNTRY</th>
    <th scope="col">EDIT</th>
    <th scope="col">DELETE</th>
  </tr>
  </thead>
  <tbody *ngFor="let city of cities">
  <tr>
    <th scope="row">{{city.id}}</th>
    <td>{{city.name}}</td>
    <td>{{city.country.name}}</td>
    <td><a>EDIT</a></td>
    <td><a [routerLink]="['delete' , city.id]">DELETE</a></td>
  </tr>
  </tbody>
</table>
